* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}


.bg {
  background-color: #134074;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;



}

.thumbs {
  display: flex;
  flex-direction: column;
  padding-left: 65%;
  padding-top: 65%;
}

.input {
  padding-left: 65%;
}


.floating {
  color: white;
  font-size: 5ex;
}

.floating:active {
  transform: translateY(-1%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.1s linear;
}